# Kconfig.tm4c123- TM4C123 GPIO configuration options
#

menuconfig GPIO_TM4C123
	bool "TI TM4C123 GPIO driver"
	depends on GPIO && SOC_FAMILY_TIVAWARE
	default n
	help
	  Enable the GPIO driver on TI TivaWare TM4C123 boards

if GPIO_TM4C123

config GPIO_TM4C123_PORTA
	bool "GPIO block A"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port A.

config TM4C123_GPIOA_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTA
	default "GPIOA"

config TM4C123_GPIOA_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTA
	range 0 5
	default 1
	help
	  TM4C123 GPIOA IRQ priority.

config GPIO_TM4C123_PORTB
	bool "GPIO block B"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port B.

config TM4C123_GPIOB_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTB
	default "GPIOB"

config TM4C123_GPIOB_IRQ_PRI
	int "GPIOB interrupt priority"
	depends on GPIO_TM4C123_PORTB
	range 0 5
	default 1
	help
	  TM4C123 GPIOB IRQ priority.

config GPIO_TM4C123_PORTC
	bool "GPIO block A"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port C.

config TM4C123_GPIOC_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTC
	default "GPIOC"

config TM4C123_GPIOC_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTC
	range 0 5
	default 1
	help
	  TM4C123 GPIOC IRQ priority.

config GPIO_TM4C123_PORTD
	bool "GPIO block D"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port D.

config TM4C123_GPIOD_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTD
	default "GPIOD"

config TM4C123_GPIOD_IRQ_PRI
	int "GPIOD interrupt priority"
	depends on GPIO_TM4C123_PORTD
	range 0 5
	default 1
	help
	  TM4C123 GPIOD IRQ priority.

config GPIO_TM4C123_PORTE
	bool "GPIO block E"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port E.

config TM4C123_GPIOE_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTE
	default "GPIOE"

config TM4C123_GPIOE_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTE
	range 0 5
	default 1
	help
	  TM4C123 GPIOE IRQ priority.

config GPIO_TM4C123_PORTF
	bool "GPIO block F"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port F.

config TM4C123_GPIOF_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTF
	default "GPIOF"

config TM4C123_GPIOF_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTF
	range 0 5
	default 1
	help
	  TM4C123 GPIOF IRQ priority.

config GPIO_TM4C123_PORTG
	bool "GPIO block G"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port G.

config TM4C123_GPIOG_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTG
	default "GPIOG"

config TM4C123_GPIOG_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTG
	range 0 5
	default 1
	help
	  TM4C123 GPIOG IRQ priority.

config GPIO_TM4C123_PORTH
	bool "GPIO block H"
	depends on GPIO_TM4C123
	default n
	help
	  Include support for the GPIO port H.

config TM4C123_GPIOH_NAME
	string "Driver name"
	depends on GPIO_TM4C123_PORTH
	default "GPIOH"

config TM4C123_GPIOH_IRQ_PRI
	int "GPIOA interrupt priority"
	depends on GPIO_TM4C123_PORTH
	range 0 5
	default 1
	help
	  TM4C123 GPIOH IRQ priority.

endif # GPIO_TM4C123
