CONFIG_ARM=y
CONFIG_BOARD_TI_TM4C123GXL_LAUNCHPAD=y
CONFIG_SOC_FAMILY_TIVAWARE=y
CONFIG_SOC_SERIES_TM4C123=y
CONFIG_SOC_TM4C123GH6PM=y
CONFIG_CORTEX_M_SYSTICK=y
CONFIG_FLASH=y

CONFIG_PRINTK=y

#enable GPIO driver
CONFIG_GPIO=y
CONFIG_GPIO_TM4C123=y
CONFIG_GPIO_TM4C123_PORTA=y
CONFIG_GPIO_TM4C123_PORTB=y
CONFIG_GPIO_TM4C123_PORTE=y
CONFIG_GPIO_TM4C123_PORTF=y

CONFIG_IEEE802154_DW1000_GPIO_ISR_DRV_NAME="GPIOB"
CONFIG_IEEE802154_DW1000_GPIO_RST_DRV_NAME="GPIOE"
CONFIG_IEEE802154_DW1000_GPIO_WAKEUP_DRV_NAME="GPIOE"
CONFIG_IEEE802154_DW1000_GPIO_EXTON_DRV_NAME="GPIOE"
CONFIG_IEEE802154_DW1000_GPIO_GPIO_5_DRV_NAME="GPIOE"
CONFIG_IEEE802154_DW1000_GPIO_GPIO_6_DRV_NAME="GPIOB"

# enable uart driver
CONFIG_SERIAL=y
CONFIG_SERIAL_HAS_DRIVER=y
CONFIG_UART_TM4C123=y
CONFIG_UART_INTERRUPT_DRIVEN=y

#enable spi driver
CONFIG_SPI_TM4C123=y
CONFIG_SPI_0=y
CONFIG_SPI=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_NET_SHELL=y
CONFIG_NET_L2_IEEE802154_SHELL=y

# enable ieee802154
CONFIG_NET_CONFIG_IEEE802154_DEV_NAME="dw1000"
CONFIG_IEEE802154_DW1000=y

CONFIG_NETWORKING=y
CONFIG_NET_BUF=y
CONFIG_NET_IPV6=y
CONFIG_NET_L2_IEEE802154=y
CONFIG_NET_DEBUG_L2_IEEE802154=y
CONFIG_NET_L2_IEEE802154_SECURITY=y
CONFIG_NET_L2_IEEE802154_ACK_REPLY=y
CONFIG_MAIN_STACK_SIZE=2048
CONFIG_NET_PKT_RX_COUNT=5
CONFIG_NET_PKT_TX_COUNT=5
CONFIG_NET_BUF_RX_COUNT=10
CONFIG_NET_BUF_TX_COUNT=10
CONFIG_NET_LOG=y
CONFIG_SYS_LOG_NET_LEVEL=1
CONFIG_SYS_LOG_SHOW_COLOR=y
CONFIG_ENTROPY_GENERATOR=y
CONFIG_TEST_RANDOM_GENERATOR=y
CONFIG_NET_DEBUG_IPV6=y

# Enable TI TIVAWARE SDK
CONFIG_HAS_TIVAWARE_SDK=y
