# Kconfig - DevKit1207 F207IG board configuration
#
# Copyright (c) 2018 hackin Zhao
#
# SPDX-License-Identifier: Apache-2.0
#

config BOARD_DEVKIT1207_F207IG
	bool "DevKit1207 F207IG Development Board"
	depends on SOC_STM32F207XG
